@import './footer.scss';


@mixin set-margin($direcsion, $value){
  margin-#{$direcsion}: $value;
}

//カラー変数
$primary-color: rgba(#0fab53,0.8);
$text-color: red;


h1{
  @include set-margin("top",60px);
  color: $primary-color;
  transition: all 400ms;

  &:hover{
    transform: translateX(50px);
  }
}

a{
  &:hover{
    color: $text-color;
  }
  &:visited{
    color: $text-color;
  }
}

.content{
  .title{
    font-size: 24px;
    color: $text-color;
    background-color: #f30;
    padding: 3px;
    margin: 10px 0 0;
  }
  .title-lg{
    @extend .title;
    font-size: 32px;
  }

  .lead{
    margin: 10px 0 0;
    font-size: 24px;
    padding: 3px;
    color: $text-color;
    background-color: red;
  }
}
